.chat-body::-webkit-scrollbar {
  display: none;
}
.chat-body {
  /* position: absolute; */
  overflow-y: scroll;
  max-height: 400px;
  background: burlywood;
}
.message-box {
  height: auto;
  width: auto;
  word-break: break-word;

  margin: 10px;
  padding: 5px;
}

#my-message {
  background-color: palegreen;
  margin-left: 60%;
}
#other-message {
  background-color: white;
  margin-right: 60%;
}

.message-info {
  color: gray;
  margin-left: 60%;
  overflow: hidden;
  font-size: 12px;
}
