.chat-body::-webkit-scrollbar {
  display: none;
}
.chat-body {
  /* position: absolute; */
  overflow-y: scroll;
  max-height: 400px;
}
.message-box {
  height: auto;
  max-width: 150px;
  width: auto;
  word-break: break-word;

  margin: 5px;
  padding: 5px;
  border-radius: 5%;
}

#my-message {
  background-color: aquamarine;
  margin-left: 60%;
}
#other-message {
  background-color: burlywood;
  margin-right: 60%;
}

.message-info {
  color: white;
  margin-left: 50%;
  overflow: hidden;
  font-size: 12px;
}
